- item = item || {}
- item.title = item.title || 'Placeholder Title'
- item.url = item.url || '#'
- item.media = item.media || 'https://placehold.it/220x120'
- item.description = item.description || ''

div
  a.mediaLink(href=item.url target='_blank')
    img.thumb.thumb--m(src=item.media alt=item.title)

  a.link.link--subdued.externalLink(href=item.url target='_blank')
    = item.title
    +icon('external', 12).externalLink-icon

  p.mbf.tss= item.description
