- commentsClass = comments.length == 0 ? 'is-empty' : ''
aside#comments.js-createComment-container(role='complementary' class=commentsClass)
  h2.h.h--3.tcs.mbm.js-createComment-number.js-editComment-number= pluralize('Comment', comments.length, true)

  if comments.length > 0

    ul.list.list--l.list--divided.list--divided--l.bdrb.mbxl.pbl.js-createComment-list
      - for comment in comments
        li.list-item.js-editComment(id='comment-' + comment.id data-id=comment.id)
          .bucket
            .bucket-media
              img.thumb(src=comment.avatar_url width=50)
            .bucket-content
              .split.mbm.tfh
                .split-item
                  .split-cell
                    span.mrs.twb= comment.name
                    time.tcs.tsi= moment(comment.created_at).format('LL')

                  if comment.user_id == user.id
                    .split-cell
                      button.link.js-editComment-editBtn Edit

              p.mbf.js-editComment-comment= comment.body

              if comment.user_id == user.id

                form.form.js-editComment-form.is-hidden(action='')
                  textarea.form-input.form-textarea.js-autosize.js-editComment-textarea= comment.body

                  .split.split--center
                    .split-item
                      .split-cell
                        button.link.link--error.js-editComment-deleteBtn Delete
                      .split-cell
                        .has-btn
                          button.btn.btn--a--bordered.js-editComment-cancelBtn Cancel
                          button.btn.js-editComment-saveBtn Save Changes

  else

    ul.list.list--l.list--divided.list--divided--l.bdrb.mbxl.pbl.js-createComment-list.is-hidden

    .mbxl.js-createComment-empty
      p.tcs.tsi There are no comments on this story. Add yours below!

  .split.mbm
    .split-item
      .split-cell
        h2.h.h--3.tcs Post a New Comment
      if user.authenticated
        .split-cell
          img.thumb.dib.mrs.mwn(src=user.avatar_url width=25)
          a(href='/news/signout') Not you?

  if user.authenticated

    form.form.js-formValidator.js-saveProgress-container.js-createComment(action='/news/'+flow.slug+'/comment' method='POST')
      .bucket
        .bucket-media
          img.thumb(src=user.avatar_url width=50)
        .bucket-content
          fieldset.form-field
            textarea.form-input.form-textatrea.js-autosize.js-formValidator-input.js-saveProgress(name='body' data-saveprogress='comment' data-validate='required' required='true')

          input(type='hidden' name='_csrf' value=token)
          input.btn.btn--a.form-btn.js-formValidator-submit(type='submit' value='Submit')
  else

    .card.bdr.tac
      p.tcs.tsi You need to authenticate with GitHub in order to comment on this post.
      a.btn.btn--a.form-btn(href='/news/sign_in') Authenticate with GitHub
