block current_nav
- current_page = 'Admin'

block layout_variables
  - dispatcher = 'admin'
  - pageTitle = 'Admin'
  - metaDescription = 'The latest news from the JavaScript community and the fine folks at 5 Minutes of JavaScript.'

extends /views/layouts/layout

block content

  .has-alert.js-alerts
    include /views/partials/_flash

  section.row.has-sector
    .cell.well.well--l.well--m--xl
      .g
        .g-b.g-b--m--3of5
          .bdrbl.mbm.pbm
            h1 Unapproved Stories

          if stories.length > 0
            - for story in stories
              li.list-item(data-article=story.id id='story-' + story.id)

                article.bdrbl.pbl.mbm(role='article')

                  h1.h.h--1
                    a.externalLink.tct.twb(href=story.url target='_blank')
                      = story.title
                      +icon('external', 20).externalLink-icon

                  .bucket.bucket--flag.mbm
                    .bucket-media
                      img.thumb(src=story.avatar_url width=50)
                    .bucket-content.h.h--3.tcs
                      ul.list.list--inline.list--inline--divided
                        li.list-item
                          span.twn via 
                          | #{story.name}

                  p.well.well--l.tsl= story.body

                  .mbl
                    a.btn.btn--success.js-admin-approve(href='#' data-story-id=story.id) Approve Story

                  h2 Deny Story
                  p.tcs.tss
                    | If the story doesn't follow the Community Guidelines, provide 
                    | a reason and select 
                    strong Deny Story.
                  .g.g--xs
                    .g-b.g-b--3of4
                      .select
                        select.select-input.js-admin-reason(name="moderate" id="moderate")
                          option.select-input-option(value=0) Select reason...
                          option.select-input-option(value=1) Duplicate
                          option.select-input-option(value=2) Hard to understand
                          option.select-input-option(value=3) Directly advertising
                          option.select-input-option(value=4) Job Posting
                          option.select-input-option(value=5) Disrespectful language
                          option.select-input-option(value=6) Not within community interests
                    .g-b.g-b--1of4
                      a.btn.btn--a.btn--block.js-admin-deny(href='#' data-story-id=story.id) Deny Story

          else
            p.tsi There are no unapproved stories right now.

block inline_javascript
  script.
    jQuery(function($) {
      function setHeader(xhr){
        xhr.setRequestHeader('csrf-token', '#{token}');
      };

      function notify(type, message) {
        var notification = '';

        notification +=
          '<div class="alert alert--' + type + ' in js-alert">' +
            '<a class="alert-msg-close js-alert-close" href="#">&times;</a>' +
            '<p class="alert-msg">' + message + '</p>' +
          '</div>';

        $('.js-alerts').append(notification);


        JS.Services.expel({
          $toggle     : $('.js-alert-close'),
          elementNode : '.js-alert'
        });
      };

      $('.js-admin-approve').on('click', function(event) {
        event.preventDefault();

        var storyId = $(this).data('story-id');

        $.ajax({
          type: 'POST',
          url: '/admin/news/' + storyId + '/approve',
          beforeSend: setHeader
        })
          .done(function(response) {
            console.log(response);
            if (response === true) {
              $('#story-' + storyId).remove();
              notify('success', 'The story has been approved.');
            }
          });
      });

      $('.js-admin-deny').on('click', function(event) {
        event.preventDefault();

        var storyId = $(this).data('story-id');
        var reason;

        switch ($('.js-admin-reason').val()) {
          case "1":
            reason = 'is a duplicate story.';
          case "2":
            reason = 'is not easy to understand — please try again with a different description.';
          case "3":
            reason = 'is directly advertising for a paid product.';
          case "4":
            reason = 'is a job posting.';
          case "5":
            reason = 'contains disrespectful language.';
          case "6":
            reason = 'does not align with community interests.';
        }

        $.ajax({
          type: 'POST',
          data: { reason: reason },
          url: '/admin/news/' + storyId + '/deny',
          beforeSend: setHeader
        })
          .done(function(response) {
            console.log(response);
            if (response === true) {
              $('#story-' + storyId).remove();
              notify('success', 'The story has been denied.');
            }
          });
      });

    });
