block layout_variables
  - pageTitle = 'News'
  - metaDescription = 'The latest news from the JavaScript community and the fine folks at 5 Minutes of JavaScript.'
  - dispatcher = 'news:show'

extends /views/layouts/layout

block content

  .has-alert
    include /views/partials/_flash

  section.row
    .cell.well.well--xl
      .g.g--centered
        .g-b.g-b--8of12

          article.bdrbl.pbl.mbm(role='article')

            time.label.mbxs= moment(flow.published_at).format('ll')
            h1.h.h--1
              a.externalLink.tct.twb(href=flow.url target='_blank')
                = flow.title
                - iconPartial = { name: 'external', className: 'externalLink-icon', size: 20 }
                include /views/partials/_icon

            .bucket.bucket--flag.mbm
              .bucket-media.mrs
                img.thumb(src=flow.avatar_url width=40)
              .bucket-content.h.h--3.tcs
                ul.list.list--inline.list--inline--divided.tfh
                  li.list-item.
                    #[span.twn via]
                    #{flow.name}
                  li.list-item
                    a.dib.js-createComment-number.js-editComment-number(href='#comments')= pluralize('Comment', comments.length, true)

            p.well.well--l.tsl= flow.body

          include /views/partials/_comments
