block current_nav
  - current_page = 'News'

extends /views/layouts/layout

block content

  section.row.has-sector
    .cell
      .g
        .g-b.g-b--m--3of5.sector.sector--a
          .well.well--l.well--m--xl

            include /views/partials/_flash

            .bdrbl.mbl.pbl
              h1.h.h--2 News From the Community

              .g
                .g-b.g-b--l--3of4

                  p.mbf--l.ptxs--l.tcs.tss
                    | A curated list of news and stories submitted from the 
                    | JavaScript.com community. To learn more about how you 
                    | can contribute, visit our 
                    a(href='/guidelines') Contribution Guidelines
                    | .

                .g-b.g-b--l--1of4

                  a.btn.btn--a.db.dib--s.fr--l(href='/news/new') New Post

            ul.list.list--l.list--divided.list--divided--l

              - for flow in flow_collection
                li.list-item
                  article.bucket
                    .bucket-media
                      img.thumb(src=flow.avatar_url width=50)
                    .bucket-content
                      h2.h.h--3
                        a.tct.twb(href='/news/' + flow.id)= flow.title
                      p.tcs.tfh #{flow.name} | #{moment(flow.created_at).format('dddd')}
                      p.mbf.
                       #{flow.body}

        .g-b.g-b--m--2of5.sector.sector--b
          .well.well--l.well--m--xl
            .sector-content

              .mbl
                img.db.mbl.mhc(src='/images/img-news.svg' alt='' width='250')

                h2.h.h--3 5 Minutes of JavaScript

                p.tcs.tss News from the 5 Minutes of JavaScript podcast.

                a.btn.btn--a--bordered.db.dib--s.mbs.mrs--s(href='https://itunes.apple.com/us/podcast/5-minutes-of-javascript/id775261328') Listen Now
                a.btn.btn--a--bordered.db.dib--s(href='https://fivejs.codeschool.com/') Visit Site

              .pillar.pillar--l.pillar--thick.mbm

                ul.list.list--l.list--divided.list--divided--l

                  - for story in news_collection
                    li.list-item
                      article
                        h2.h.h--4
                          a.tct.twb(href=story.url)= story.title
                        p.mbf.tss.
                          #{story.body}

              p.tcs.tss
                | Updated weekly. 
                a(href='https://fivejs.codeschool.com/') Subscribe here
                | .

block inline_javascript
  script.
    jQuery(function($) {
      JS.Services.expel({
        $toggle     : $('.js-alert-close'),
        elementNode : '.js-alert'
      });
    });
