block current_nav
  - current_page = 'News'

block layout_variables
  - pageTitle = 'News'
  - metaDescription = 'The latest news from the JavaScript community and the fine folks at 5 Minutes of JavaScript.'
  - dispatcher = 'news'


extends /views/layouts/layout

block content

  .has-alert
    include /views/partials/_flash

  section.row.has-sector
    .cell
      .g
        .g-b.g-b--m--3of5.sector.sector--a
          .well.well--l.well--m--xl.mbl

            h1.h.h--2
              | News From the 
              span.dib Community
                a.mls.tch(href="/feed/rss")
                  - iconPartial = { name: 'rss', size: 20 }
                  include /views/partials/_icon

            .g
              .g-b.g-b--l--3of4

                p.mbf--l.ptxs--l.tcs.tss
                  | A curated list of news and stories submitted from the
                  | JavaScript.com community. To learn more about how you
                  | can contribute, visit our 
                  a(href='/guidelines') Contribution Guidelines
                  | .

              .g-b.g-b--l--1of4

                a.btn.btn--a.db.dib--s.fr--l(href='/news/new') New Post

          .pillar.pillar--thick.ptl.ptxl--m.js-loadFeed
            ul.list.list--l.list--divided.list--divided--l.mbl.js-loadFeed-list

              - for group, title in flow_collection

                - dateText = title
                include /views/news/_data_separator

                - for story in group

                  li.list-item
                    article.bucket
                      .bucket-media
                        img.thumb(src=story.avatar_url width='50')
                      .bucket-content
                        h2.h.h--3
                          a.externalLink.tct.twb(href=story.url)
                           = story.title
                            - iconPartial = { name: 'external', className: 'externalLink-icon', size: 16 }
                            include /views/partials/_icon
                        p.tcs.tfh
                          | via 
                          span.twsb= story.name
                          |  | 
                          time.tsi= story.date
                          |  | 
                          a(href='/news/' + story.slug + '#comments')
                            | View Discussion 
                            if story.comment_count > 0
                              | (
                              = story.comment_count
                              | )
                        p.mbf= story.body

          if more
            .well.well--l.mbl.mbxl--m.tac
              button.btn.js-loadFeed-btn Load More

        .g-b.g-b--m--2of5.sector.sector--b
          .well.well--l.well--m--xl
            .sector-content

              .mbl
                img.db.mbl.mhc(src='/images/img-news.svg' alt='' width='250')

                h2.h.h--3 News From FiveJS

                p.tcs.tss 5 Minutes of JavaScript (FiveJS) is a weekly newsletter and podcast curating the latest news in the JavaScript community.

                a.btn.btn--a--bordered.db.dib--s.mbs.mrs--s(href='https://itunes.apple.com/us/podcast/5-minutes-of-javascript/id775261328') Listen Now
                a.btn.btn--a--bordered.db.dib--s(href='https://fivejs.codeschool.com/') Visit Site

              .pillar.pillar--l.pillar--thick.mbl

                ul.list.list--l.list--divided.list--divided--l

                  - for story in news_collection
                    li.list-item
                      article
                        h2.h.h--4
                          a.tct.twb(href=story.url)= story.title
                        p.mbf.tss.
                          #{story.body}

              h3.h.h--4.mbs The Latest News in Your Inbox

              p.tcs.tss Subscribe now to the 5 Minutes of JavaScript newsletter. Updated weekly.

              .newsletter.js-newsletter
                form.form.form--inline.newsletter-form.tar.js-newsletter-form
                  fieldset.form-field.mbs
                    input.form-input(type='email' name='email' placeholder='Email Address' required)

                  input.btn.btn--b.btn--block.btn--m--inline.form-btn(type='submit' value='Subscribe')
