block current_nav
  - current_page = 'News'

block layout_variables
  - pageTitle = 'News'
  - metaDescription = 'The latest news from the JavaScript community and the fine folks at 5 Minutes of JavaScript.'

extends /views/layouts/layout

block content
  section.row
    .cell.cell--s.well.well--xl

      include /views/partials/_flash

      article.bdrbl.pbl.mbm(role='article')

        time.label.mbxs= moment(flow.published_at).format('ll')
        h1.h.h--1= flow.title

        .bucket.bucket--flag.mbm
          .bucket-media
            img.thumb(src=flow.avatar_url width=50)
          .bucket-content.h.h--3.tcs
            ul.list.list--inline.list--inline--divided.tfh
              li.list-item
                span.twn via 
                | #{flow.name}
              li.list-item
                a.dib(href='#comments')= pluralize('Comment', comments.length, true)

        p.well.well--l.tsl= flow.body

        a.btn.mbxl(href=flow.url) Visit Site

      aside#comments(role='complementary')
        h2.h.h--3.tcs.mbm= pluralize('Comment', comments.length, true)

        ul.list.list--l.list--divided.list--divided--l.bdrb.mbxl.pbl
          - for comment in comments
            li.list-item(data-comment=comment.id)
              .bucket
                .bucket-media
                  img.thumb(src=comment.avatar_url width=50)
                .bucket-conten
                  p.tfh
                    span.mrs.twb #{comment.name}
                    span.tcs.tsi #{comment.created_at}
                  p.mbf.
                    #{comment.body}

        h2.h.h--3.tcs.mbm Post a New Comment

        if user.authenticated

          form.form(action='/news/'+flow.slug+'/comment' method='POST')
            fieldset.form-field
              p.form-instruction.tar Some HTML is ok.
              textarea.form-input.form-textatrea(name='body')

              input(type='hidden' name='_csrf' value=token)
              input.btn.btn--a.form-btn(type='submit' value='Submit')
        else

          form.form
            fieldset.form-field
              p.form-instruction.tar Some HTML is okay.
              textarea.form-input.form-textarea

            a.btn.btn--a.form-btn(href='/news/sign_in') Authenticate with GitHub
block inline_javascript
  script.
    jQuery(function($) {
      JS.Services.expel({
        $toggle     : $('.js-alert-close'),
        elementNode : '.js-alert'
      });
    });
